html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 60px;
}

.albumlist-album {
    margin: 0 0 20px 0;
}

.albumlist-album-image {
    width: 64px;
    height: 64px;
    background-color: #DDDDDD;
    margin: 0 20px 0 0;
}