<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a [routerLink]="['/']" class="navbar-brand">MyTunes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a *ngIf="!user" [routerLink]="['/login']">Login</a></li>
                <li><a *ngIf="!user" [routerLink]="['/registration']">Register</a></li>
                <li><a *ngIf="user" [routerLink]="['/albums']">Search music</a></li>
                <li><a *ngIf="user" [routerLink]="['/mymusic']">My Music</a></li>
                <li><a *ngIf="user" (click)="logout()">Logout ({{ user.email }})</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>