<div class="row">
    <div class="col-md-12">
        <search-component [value]="queryString" (searchChange)="doSearch($event)"></search-component>
    </div>
</div>
<div class="row" *ngFor="let album of albums">
    <div class="col-xs-12 albumlist-album">
        <table>
            <tr>
                <td>
                    <img class="albumlist-album-image" [src]="album.getImage(albumImageSize)">
                </td>
                <td>
                    <h4 class="media-heading" *ngIf="album.id">
                        <a [routerLink]="['/album', { id : album.id }]"><p>{{album.name}}</p></a>
                    </h4>
                    <h4 class="media-heading" *ngIf="!album.id">
                        <p>{{album.name}}</p>
                    </h4>
                    <p>{{album.artist}}</p>
                </td>
            </tr>
        </table>
    </div>
    <pagination-component [pager]="pager" [pathName]="'Albums'"></pagination-component>
</div>