<div class="album" *ngIf="album">
    <div class="page-header">
        <h1>{{album.name}} <small>{{ album.artist }}</small></h1>
    </div>
    <div class="media">
        <div class="media-left">
            <a>
                <img class="media-object" [src]="album.getImage(albumImageSize)">
            </a>
        </div>
        <div class="media-body">
            <ul *ngFor="let song of album.songs">
                <li>{{ song.name}}</li>
            </ul>
        </div>
    </div>
</div>