<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-8 col-sm-6 col-md-5" style="margin-right: 0; padding-right: 0">
            <input type="text" class="form-control" placeholder="Search" (keyup)="onSearch(value, $event)" [(ngModel)]="value">
        </div>
        <div class="col-xs-4" style="margin-left: 0; padding-left: 5">
            <button type="submit" class="btn btn-default" (click)="onSearch(value)">Search</button>
        </div>
    </div>
</form>